.main{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    
}

.red{
    background-color: #fa4315;
    width: 100%;
    color: white;
    height: 350px;
}

.black{
    background-color: black;
    width: 100%;
    height: auto;
    color: white;
    height: 350px;
}

.content-main{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.content-main h1{
    font-size: 70px;
    font-weight: bold;
}

.content-main h2{
    padding-top: 40px;
    padding-left: 10px;
}

.content-main h3{
    padding-top: 60px;
    font-size: 21px;
}

.black h1{
    color: #fa4315;
}

.content-second{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.red .content-second button{
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: black;
    height: 50px;
    color: white;
    font-size:10px ;
    padding: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.black .content-second button{
    margin-top: 20px;
    border-radius: 5px;
    border: none;
    background-color: #fa4315;
    height: 50px;
    color: white;
    font-size: 10px;
    padding: 30px;
    font-weight: bold;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.red button:hover{
    background-color: rgb(43, 43, 43);
}

.black button:hover{
    background-color: #e25f3e;
}

.main p{
    font-size: 10px;
}