.top{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top h4{
    padding-top: 20px;
    color: gray;
}

.top h1{
    margin-top: -20px;
}

.top hr{
    width: 30px;
    height: 4px;
    background-color: #fa4315;
    border: #fa4315;
}

.split-box{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.first{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 20px;
    width: 700px;
}
.first p{
    color: gray;
}
.first i{
    color: #fa4315;
    padding: 10px;
}

.second img{
    padding-left: 50px;
    width: 100%;
    max-width: 100%;
    height: 500px;
    display: block;
}