.hero-slide {
  height: 100vh;               /* full viewport height */
  width: 100%;
  background-size: cover;       /* cover entire div */
  background-position: center;  /* center the image */
  position: relative;           /* for overlay and text */
}

.hero-overlay {
  position: absolute;
  inset: 0;
}

.hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  margin-top: 400px;
  margin-right: 900px;
  flex-direction: column;
  justify-content: center;  
  align-items: center;
  /* padding-left: 2rem;
  padding-right: 2rem; */
}

.hero-content h1 {
  color: white;
  font-size: 3rem;
  font-weight: 700;
}

.hero-content p {
  color: #e0e0e0;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.hero-content button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #fa4315; /* yellow */
  color: black;
  font-weight: 600;
  border: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.swiper-pagination-bullet{
  background-color:white
}

.swiper-pagination-bullet-active{
  background-color: #fa4315;
}