.hero-slide {
  height: 100vh;               /* full viewport height */
  width: 100%;
  background-size: cover;       /* cover entire div */
  background-position: center;  /* center the image */
  position: relative;           /* for overlay and text */
}

.hero-overlay {
  position: absolute;
  inset: 0;
}

.hero-content {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
  align-items:center;
  margin-bottom: 2rem;
}

.hero-content h1 {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.hero-content p {
  color: #e0e0e0;
  margin-top: 1rem;
  font-size: 1.25rem;
}

.hero-content button {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #fa4315; 
  color: black;
  font-weight: 600;
  border: 2px;
  cursor: pointer;
  border-radius: 10px;
}

.swiper-pagination-bullet{
  background-color:white
}

.swiper-pagination-bullet-active{
  background-color: #fa4315;
}


@media (max-width:768px){
  .hero-content h1{
      font-size: 1.5rem;
  }

  .hero-content p{
    font-size: 0.75rem;
  }
}