.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 100%;
}

.container i{
    font-size: 50px;
    line-height: 1;
    margin: 10px;
}
.container h1,h3{
    margin: 4px 0;
}

.container img {
  width: 100%;
  transition: 0.4s ease;
}

.first1{
    margin: 0;
    padding: 0;
    background-color: #fa4315;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.second2{
    margin: 0;
    padding: 0;
    background-color: #f99b02;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
}

.third3{
    margin: 0;
    padding: 0;
    background-color: #ffb700;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 300px;
    
}

.first1 hr, .second2 hr, .third3 hr{
    width: 30px;
    height: 5px;
    background-color: white;
    border-radius: 10px;
    border: none;
}

.overlay{
    position: relative;
    opacity: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: 0;
    transition: 1s;
}

.overlay p{
    padding: 20px;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}

.first1:hover .overlay,
.second2:hover .overlay,
.third3:hover .overlay{
    opacity: 1;
}

.container:hover img{
    transform: scale(1,1);
}

