.latest-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.latest-second{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.latest1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.latest1 img{
    height: 400px;
}

.latest1 ul{
    display: flex;
    list-style: none;
    gap: 5px;
}