.head h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

.head h1:hover{
    color: #fa4315;
}

.content{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    gap: 16px;
    padding: 15px;
    align-items: center;
}

.content img{
    width: 100%;
    height: 400px;
    border-radius: 15px;
    object-fit:contain;
}

.content-writing h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-writing p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: gray;
}

.hero3 {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
}

.hero3 hr{
    width: 30px;
    height: 4px;
    border: #fa4315;
    background-color: #fa4315;
    border: none;
    margin: 20px;
}

.hero3 h4{
    margin: 0;
    padding: 0;
    color: gray;
}

.hero3 h1{
    margin: 0;
    padding: 0;
}

.hero3 p{
    max-width: 900px;
    padding: 20px 20px;
    text-align: center;
    color: gray;
}

.hero3-img img,
.hero3-back-img img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
}

.crafted {
    background-position: center;
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),
    url("../assets//hero3-alt.jpg");
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
    height: 200px;
}

.crafted-first{
    color: white;
    padding-top: 0;
}

.crafted-first h1{
    font-size: 50px;
}

.crafted-first span{
    color: #fa4315;
}

.crafted-first h3{
    margin-top: -30px;
    color: gray;
}

.crafted-second button{
    margin-top: 50px;
    height: 50px;
    width: 200px;
    color: white;
    font-weight: bold;
    background-color: #fa4315;
    border-radius: 10px;
}

