.con{
    margin: 0;
}

.con-1,.con2,.con3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.one,.two{
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin: 50px;
}

.one{
    align-items:flex-start;
}

.con2 .one{
    align-items: flex-end;
}

.two img{
    object-fit: contain;
    height: 500px;

}

.one p{
    width: 400px;
    text-align: justify;
    color: gray;
}


.one h5{
    color: #fa4315;
    font-weight: bold;
    font-size: 20px;
}


@media (max-width:767px){
    .two{
        display: none;
    }

    .one{
        margin-bottom:30px;
    }
}